# Node.js
node_modules/
dist/
dtx-frontend/node_modules/
dtx-frontend/dist/
.env

# Python & Databases
__pycache__/
*.pyc
dtx-backend/__pycache__/
dtx-backend/venv/
dtx-backend/env/
.venv/
venv/
env/
*.db
*.sqlite

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db